.header {
    background-color: orange;
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.style{
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 40px;
}

.info{
    font-family: sans-serif;
    font-weight: bold;
    
}

.box{
    
    margin-left: 40px;
    margin-right: 1250px;
}

footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    /* width: 100px;
    height: 2.5rem; */
    padding-top: 430px;
    padding-left: 700px;
}

footer p{
    color: #ccc;
}